<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    

    <!-- Bootstrap -->
    <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- iCheck -->
    <link href="/static/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    

    <!-- Custom Theme Style -->
    <link href="/static/build/css/custom.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/jQuery/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/static/jQuery/jquery.validate.min.js"></script>
  <title> Set Your Password </title>
</head>

<body>
  <div class="x_panel">
      <div class="x_title">
        <h1> Set Your Password </h1>
        <div class="clearfix"></div>
      </div>
      <!-- <div class="x_content"> -->
        <br>
        <form id="set_password" method="POST" autocomplete="off">{% csrf_token %}

          <!-- <div> -->
          <table>
            <tbody>
            <tr>
              <td>
              <input class="form-control" size="30" type="password" placeholder="Enter New Password" id="password" name="password" required><br></td>
              
            </tr>
          
            <tr>
              <td>
            <input class="form-control" size="30" type="password" placeholder="Confirm New Password" id="confpassword" name="confpassword" required /></td>
            </tr>

            <tr>
              <td>
            <input class="form-control" type="hidden" name="vhn" value="{{ vhn }}" /></td>
            </tr>

            </tbody>
          </table>
           <br><br>
          
          <div class="form-group">
            
              <button type="submit" class="btn btn-primary">Set Password</button>
              
           
          </div>

        </form>
        <div id='statusReport'></div>
        
      </div>
    
</body>
<script>
    $(function () {
  //Initialize form validation on the registration form.
  //It has the name attribute "registration"

  
  $("#set_password").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
      password: {
        required: true,
        minlength: 5,
      },
      confpassword: {
        required: true,
        equalTo: "#password",
      },
    },
    // Specify validation error messages
    messages: {
      password: {
        required: "Please provide a password",
        minlength: "Your password must be at least 5 characters long",
      },
      confpassword: {
        required: "Please confirm your password!!",
        equalTo : "password must be same",
      },
      
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    // submitHandler: function(form) {
    //   form.submit();
    // }
  });
});
  </script>
</html>