<!DOCTYPE html>
<html>
	<head>
		<title> Set password </title>
		<script type="text/javascript" src="/static/jQuery/jquery-3.1.1.js"></script>
    	<script type="text/javascript" src="/static/jQuery/jquery.validate.min.js"></script>
	</head>
	<body>
		<form id="set_password" method="POST" autocomplete="off">{% csrf_token %}
			<input type="password" placeholder="Enter New Password" id="password" name="password" required><br>
			<input type="password" placeholder="Confirm New Password" id="confpassword" name="confpassword" required><br>
			<input type="hidden" name="vhn" value="{{ vhn }}" />
			<button type="submit">Set Password</button>
		</form>
	</body>
	<script>
		$(function () {
  //Initialize form validation on the registration form.
  //It has the name attribute "registration"

  
  $("#set_password").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
      password: {
        required: true,
        minlength: 5,
      },
      confpassword: {
        required: true,
        equalTo: "#password",
      },
    },
    // Specify validation error messages
    messages: {
      password: {
        required: "Please provide a password",
        minlength: "Your password must be at least 5 characters long",
      },
      confpassword: {
        required: "Please confirm your password!!",
        equalTo : "password must be same",
      },
      
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    // submitHandler: function(form) {
    //   form.submit();
    // }
  });
});
	</script>
</html>